<div style="display:flex;" >
<div  class="animation" style="margin:20px; animation-delay: 1ms" >
  <img src="/images/wave-bye.jpeg" alt="MeetPup waves bye!">
</div>

<div style="margin:20px">
<h2 style="margin-bottom: 20px">Logged out succesfully!</h2>

<a href="/">Return to home page</a>
<br/>
<a href="/signin">Sign in again</a>
</div>

</div>