<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome Back</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>

    <div class="form">
      <form method="POST" action="/signin">

        <input name="email" type="email" class="input-form form-field animation a3" placeholder="Email Address">
        <input name="password" type="password" class="input-form form-field animation a4" placeholder="Password"><br>
        <button style= "margin-top: 20px" type="submit" class="animation a6">Sign In</button>
      </form>
    </div>
    <p class="animation a7">Dont have an account yet? <a href="/signup">Create one, it's free!</a></p>
    {{#if message}}
    <div class="error">{{message}}</div>
    {{/if}}
  </div>
  <div class="right"></div>
</div>