<h3>Edit your profile</h3>

<form method="POST" action="/profile/edit" enctype="multipart/form-data">
  <label>Name</label>
  <input type="text" name="name" value="{{userData.name}}" >
  <br>
  <label>Location</label>
  <input type="text" name="location" value="{{userData.location}}" >
   <br>

  <div class="field">
    <label>About me</label>
    <div class="input">
      <textarea value="{{userData.bio}}" class="bio-box" name="bio" cols="40"
        rows="5"></textarea>
    </div>
  </div>

  <label>Email</label>
  <input type="email" name="email" value="{{userData.email}}" >
   <br>
  <label>Change avatar</label>
  <input type="file" name="imageUrl" accept="image/png, image/jpeg">
  <br >
  <button type="submit" >Edit profile</button>
</form>

<a href="/profile/edit/password">Change password</a>