<h1>We are not always pawfect!</h1>
<h2>Unfortunately, something went wront. There was an error on the server! Check the console!</h2>
<a href="/">
  <button class="button1" type="button" class="btn btn-primary">Home</button>
</a>