<h1>404 Error</h1>
<h1>Oooopsie! We are not always pawfect!</h1>
<h2>Unfortunately, something went wront.</h2>
<a href="/">
  <button class="button1" type="button" class="btn btn-primary">Home</button>
</a>


