/* reset standard browser properties that might get in the way */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-position: inside;
}

button,
input[type="button"],
a.button {
  // padding: 10px 12px;
  // background: #eee;
  // border: none;
  // font-weight: bold;
  cursor: pointer;

    box-shadow: 0px 1px 0px 0px #365b6d;
    background: #365b6d;
    background-color:#365b6d;
    border-radius:3px;
    border:1px solid #365b6d;
    display:inline-block;
    cursor:pointer;
    color:#e0c35c;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #365b6d;
  }
  
  


input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
  border: 1px solid #ddd;
  padding: 10px 12px;
  color: black;
}

html {
  background: #ddd;
}

a {
  color: #d0b240;
  text-decoration: none;
}

header {
  height: 64px;
  background: #30586e;
  color: white;

  position: relative;

  figure {
    position: absolute;
    left: 0;

    height: 100%;

    img {
      height: 100%;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    a {
      padding: 0 24px;
      border-right: 1px solid #365b6d;
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}

form {
  margin-bottom: 32px;

  .field {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;

    label {
      flex-basis: 240px;
      flex-shrink: 0;
    }

    .input {
      width: 240px;

      > * {
        width: 100%;
      }
    }
  }
}

body {
  font: 14px/1.6 "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
}

main {
  max-width: 960px;
  padding: 24px;
  margin: 0 auto;
  background: white;
  margin-top: 24px;
  margin-bottom: 24px;

  h1 {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  p {
    max-width: 560px;
  }
}

//Events page

//Event Details Page

.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  // min-width: 0;
  width: 60%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

div.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
}

.button-section {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.button1 {
  margin-left: 10px;
  margin-right: 10px;
}
.event-details-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: 0 7px 15px 6px #adabab;
  flex-grow: 1;
  flex-basis: 0%;
  width: 400px;
  border-radius: 3px;
  padding: 24px;
  width: 60%;
  span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-right: 4px;
    color: #aaa;
  }
}

.event-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.event-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-details-buttons {
  margin-top: 50px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
// .button{
//   margin: 20px;
// }
//You are now registered

.registration-message {
  color: #D0B240;
}
.now-registered, .cancel-registration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: 0 7px 15px 6px #adabab;
  flex-grow: 1;
  flex-basis: 0%;
  border-radius: 3px;
  padding: 24px;
  width: 70%;


  span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-right: 4px;
    color: #aaa;
  }
}


ul.upcoming-events {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    margin: 16px;
    box-shadow: 0 7px 15px 6px #adabab;
    flex-grow: 1;
    flex-basis: 0%;
    min-width: 25%;
    border-radius: 3px;
    padding: 24px;

    > * {
      padding: 8px 0;
      border-bottom: 1px solid #ddd;
      color: #333;

      span {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin-right: 4px;
        color: #aaa;
      }
      &.eventPicture {
        display: flex;
        justify-content: center;
      }

      &.title {
        font-weight: bold;
        font-size: 16px;
      }

      &.more-info-button {
        display: flex;
        justify-content: center;
      }
    }

    &.placeholder {
      padding: 0;
      box-shadow: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.headerpic {
  height: 500px;
  width: 500px;
}
#navbarCollapse {
  float: right;
}

footer {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mapid {
  height: 380px;
}
.description-box {
  height: 200px;
}
